# global
.vscode
.DS_Store
.exercism/
.gitignore
*.code-workspace
## include the project root gitignore
!/.gitignore

# js/ts
**/node_modules

/typescript/*
!typescript/*/*.ts
!typescript/*/package.json

# elixir
.formatter.exs
.elixir_ls/
.expert/
## legacy submissions
elixir/**/*.md
elixir/**/mix.*
elixir/**/_build/
elixir/**/lib/
elixir/**/test/
!elixir/**/README.md
## exercism sync submissions with index subdirs
!elixir/**/[0-9]/README.md
!elixir/**/[0-9]/mix.*
!elixir/**/[0-9]/lib/
!elixir/**/[0-9]/test/


# elm
elm/*/elm-stuff
